In [12]:
a = 5
print(a)
a = 7
print(a)
# 3 = 5 3은 상수라 안됨.
#print(3)
print(type(a))

5
7
<class 'int'>

In [17]:
b = 3.0
print(b)
print(type(b))

b ='hello'
print(b)

print(type(b))

3.0
<class 'float'>
hello
<class 'str'>

In [36]:
a = 5
b = 7

print(a + b)

c = a + b
print(c)

print(a - b)
d = a - b
print(d)

e = a * b
print(e)

f = a / b
print(f)

12
12
-2
-2
35
0.7142857142857143

In [45]:
a = 30
b = 20
c = a + b
d = a - b
print(c - d)

a = 30
b = 20
c = (a + b) - (a - b)
print(c)
print(type(c))

40
40
<class 'int'>

In [1]:
a = '5'
b = '7'
print(a + b)
c = a + b
print(type(c))

57
<class 'str'>

In [15]:
x = input('숫자를 입력하세요')
y = input('숫자를 입력하세요')
print(y)
print(type(y))
print(type(x))
print(x + y)
x = int(x)
print(type(x))
y = float(y)
print(type(y))
print(x + y)

숫자를 입력하세요 5
숫자를 입력하세요 7

7
<class 'str'>
<class 'str'>
57
<class 'int'>
<class 'float'>
12.0

In [3]:
x = input('영어점수를 입력하세요')
y = input('수학점수를 입력하세요')
z = input('국어점수를 입력하세요')
x = int(x)
y = int(y)
z = int(z)
print(type(x))
print(type(y))
print(type(z))
print(x + y + z)
avg = x + y + z
print('내 점수는 %d 입니다.' % avg) # 숫자와 문자열을 같이 쓰려면 %d는 정수
print(avg/3)
d = avg/3
print('-'*50)
print('내 총점은 %d 이고 평균은 %.2f 입니다.' % (avg, d)) # %f는 실수  %.2 = 소수점 둘째 자리까지 쓰는것을 의미
print(type(avg/3))
d = int(d)
print(type(d))
print(d)

영어점수를 입력하세요 55
수학점수를 입력하세요 55
국어점수를 입력하세요 44

<class 'int'>
<class 'int'>
<class 'int'>
154
내 점수는 154 입니다.
51.333333333333336
--------------------------------------------------
내 총점은 154 이고 평균은 51.33 입니다.
<class 'float'>
<class 'int'>
51

In [29]:
name = input('이름을 입력하세요')
print('내 이름은 ' + name + ' 입니다')

이름을 입력하세요 박재훈

내 이름은 박재훈 입니다

In [35]:
student = input('이름을 입력하세요')
korean = int(input('국어 점수를 입력하세요'))
math = int(input('수학 점수를 입력하세요'))
english = int(input('영어 점수를 입력하세요'))

jumsu = korean + math + english
avg = jumsu/3

print('이름\t국어\t영어\t수학\t 총점\t 평균')
print('-'*50)
print('%s \t %d \t %d \t %d \t %d \t %.1f' % (student, korean,  english, math, jumsu, avg)) # 문자열은 %s 라고 표시한다.

이름을 입력하세요 이xx
국어 점수를 입력하세요 100
수학 점수를 입력하세요 30
영어 점수를 입력하세요 50

이름	국어	영어	수학	 총점	 평균
--------------------------------------------------
이xx 	 100 	 50 	 30 	 180 	 60.0

In [30]:
# + 는 덧셈연산자
# - 는 뺄셈연산자
# * 는 곱셈연산자
# / 는 나눗셈연산자
# // 는 나누기(몫)연산자
# % 는 나눈 나머지연산자
# ** 는 제곱연산자