In [1]:
# Collection 종류
# list[] 데이터가 순서대로 있으며 추가해도 순서를 유지한다.
# Tuple() 수정 및 삭제가 안된다.
# Set{} 데이터를 넣으면 순서대로 있지 않고 데이터 추가도 안된다. 집합데이터
# Dictionary {키:값}
# https://www.w3schools.com/python/python_lists_add.asp 모르면 이 사이트 보기.

In [33]:
fruits = ['사과', '바나나', '수박', '복숭아', '메론']
print(fruits)
print(type(fruits))
print(len(fruits))
print(fruits[0])
print(type(fruits[0]))
print(len(fruits[0]))

for i in fruits:
    print('나는 ' + i + '를(을) 좋아합니다.')
    
print(fruits[1:3])
print(fruits[:3])
print(fruits[2:])

['사과', '바나나', '수박', '복숭아', '메론']
<class 'list'>
5
사과
<class 'str'>
2
나는 사과를(을) 좋아합니다.
나는 바나나를(을) 좋아합니다.
나는 수박를(을) 좋아합니다.
나는 복숭아를(을) 좋아합니다.
나는 메론를(을) 좋아합니다.
['바나나', '수박']
['사과', '바나나', '수박']
['수박', '복숭아', '메론']

In [ ]:
# 리스트 수정
fruits[0] = '오렌지'
print(fruits)

a = input(' ')
fruits = ['사과', '딸기', '배']
fruits[2] = a

print(fruits)

In [ ]:
number = [10,21,31,41,51,60,71,81,91,101]
print(number)
print(type(number))
print(number[5])
print(type(number[5]))
print(len(number))

print('_'*50)
for j in number:
    print(j)

print('_'*50)  # 누적해서 덧셈
q = 0
for j in number:
    q = q + j
print(q)

print('_'*50)
c = 0
g = 0
t = 0
p = 1
for j in number:
    if j % 2 == 0:
        print(j)
        p = p * j
        t = t - j
        g = g + j
        c = c + 1
print(p) # 짝수곱셈
print(t) # 짝수뺄셈       
print(g) # 짝수덧셈
print(c) # 짝수갯수

[10, 21, 31, 41, 51, 60, 71, 81, 91, 101]
<class 'list'>
60
<class 'int'>
10
__________________________________________________
10
21
31
41
51
60
71
81
91
101
__________________________________________________
558
__________________________________________________
10
60
600
-70
70
2

In [67]:
my_fruits = list()
my_car = list()
print(my_fruits, type(my_fruits)) # ,를 사용해서 같이 프린트가 가능하다.
print(my_car, type(my_car))

print('_'*50)
my_fruits.append('peach')
my_fruits.append('banana')        # append 와 insert함수는 멤버함수이다. 그러므로 .을 사용한다.
my_fruits.append('water melon')
my_fruits.append('apple')
my_fruits.insert(2,'kiwi')        # insert는 원하는위치(인덱스), 원하는 값 순서대로 적는다.
print(my_fruits, type(my_fruits))
my_fruits.remove(my_fruits[2])   # remove(list이름[인덱스]) 를 하여 리스트안에 인덱스번호에 해당되는 값 삭제
my_fruits.remove('apple')        # remove는 '인덱스값'을 입력해도된다.
my_car.append('k8')

print(my_fruits, type(my_fruits))
print(len(my_fruits))              #  len(my_fruits)은 길이
print(len(my_fruits[1]))           #  len(my_fruits[3])은 3번째 인덱스의 길이
print(my_car, type(my_car))

[] <class 'list'>
[] <class 'list'>
__________________________________________________
['peach', 'banana', 'kiwi', 'water melon', 'apple'] <class 'list'>
['peach', 'banana', 'water melon'] <class 'list'>
3
6
['k8'] <class 'list'>

In [68]:
print(my_fruits)

my_fruits.sort()    # sort는 리스트안에 내용을 오름차순으로 정렬한다.
print(my_fruits)

my_fruits.sort(reverse=True)   # my_fruits.sort(reverse=True) 는 내림차순으로 정렬한다.
print(my_fruits)
my_fruits.sort(reverse=False)   # my_fruits.sort(reverse=False)는 오름차순 정렬.
print(my_fruits)

print('_'*50)

print(my_fruits)
a = my_fruits.pop()      # .pop()은 마지막값을 변수에 대입한다. .pop(-1)은 리스트에 마지막값을 의미 -2 는 뒤에서 두번째꺼는 의미.
print(a)
print(my_fruits)

['peach', 'banana', 'water melon']
['banana', 'peach', 'water melon']
['water melon', 'peach', 'banana']
['banana', 'peach', 'water melon']
__________________________________________________
['banana', 'peach', 'water melon']
water melon
['banana', 'peach']

# Tuple()
중복값은 가능하나 수정이 불가능하다.

In [73]:
my_acr = tuple()
my_rfuits = ()

print(my_rfuits, type(my_rfuits))
print(my_acr, type(my_acr))

() <class 'tuple'>
() <class 'tuple'>

In [100]:
my_rfuits = ('apple', 'peach', 'kiwi', 'orange')
print(my_rfuits, type(my_rfuits))

# my_rfuits[0] = 'pear'  tuple은 수정이 안된다.
print(my_rfuits[1:3])

print('_'*50)

my_rfuits_list = list(my_rfuits)   # tuple은 list로 바꿔서 추가가 가능하다.
print(my_rfuits_list, type(my_rfuits_list))  
print(my_rfuits, type(my_rfuits))

my_rfuits_list.append('pear')
print(my_rfuits_list)
print('_'*50)

my_rfuits_tuple = tuple(my_rfuits_list)   # 수정이 완료되면 다시 tuple로 바꾼다.

print(my_rfuits_tuple, type(my_rfuits_tuple))  

my_rfuits_tuple.count('peach')   # return값이 있으므로 print가 가능하다.
print(my_rfuits_tuple.count('peach'))

('apple', 'peach', 'kiwi', 'orange') <class 'tuple'>
('peach', 'kiwi')
__________________________________________________
['apple', 'peach', 'kiwi', 'orange'] <class 'list'>
('apple', 'peach', 'kiwi', 'orange') <class 'tuple'>
['apple', 'peach', 'kiwi', 'orange', 'pear']
__________________________________________________
('apple', 'peach', 'kiwi', 'orange', 'pear') <class 'tuple'>
1

# Set{}
추가 수정은 가능하나 중복값을 허용하지 못한다.

In [111]:
my_gwail = {}
my_cha = set()

my_cha.add('k8')    # set은 값추가를 add로 한다.
my_cha.add('k7')    # set은 값이 랜덤으로 정렬된다.
my_cha.add('k9')
my_cha.add('k5')

print(my_gwail, type(my_gwail))
print(my_cha, type(my_cha))

print('_'*50)

# 안에 그 값이 있는 확인.
print('k9' in my_cha)  # 출력값은 있으면 True
print('k3' in my_cha)  # 없으면 False

# 값 삭제
my_cha.remove('k7')
my_cha.discard('k5')  # remove, discard 둘다 삭제가능
print(my_cha)

{} <class 'dict'>
{'k9', 'k5', 'k7', 'k8'} <class 'set'>
__________________________________________________
True
False
{'k9', 'k8'}

In [130]:
gift = []
gift.append(int(input('숫자입력')))
gift.append(int(input('숫자입력')))
gift.append(int(input('숫자입력')))
gift.append(int(input('숫자입력')))
gift.append(int(input('숫자입력')))

print(gift)

숫자입력 11
숫자입력 22
숫자입력 3
숫자입력 3
숫자입력 5

[11, 22, 3, 3, 5]

In [5]:
jumsu_list = []

for i in range(5): 
    jumsu = int(input('점수 입력'))
    jumsu_list.append(jumsu)
print(jumsu_list)

점수 입력 1
점수 입력 11
점수 입력 1
점수 입력 1
점수 입력 1

[1, 11, 1, 1, 1]

In [47]:
student_list = []

for h in range(5):
    zumsu = int(input('%d번째 학생의 점수' % (h + 1)))
    student_list.append(zumsu)
print(student_list)

su_m = 0
for m in student_list:
    su_m = su_m + m

print('5명의 점수 총 점수는 %d점 입니다.' % su_m)

1번째 학생의 점수 50
2번째 학생의 점수 50
3번째 학생의 점수 50
4번째 학생의 점수 50
5번째 학생의 점수 50

[50, 50, 50, 50, 50]
5명의 점수 총 점수는 250점 입니다.

In [52]:
hamsu_list = []
for p in range(7):
    hamsu = int(input('숫자 입력'))
    if hamsu > 0 and hamsu <= 999:
        hamsu_list.append(hamsu)
print(hamsu_list)

ham = 0
for n in hamsu_list:
    ham = ham + n
print('총합은 %d 입니다.' % ham)

숫자 입력 500
숫자 입력 500
숫자 입력 500
숫자 입력 500
숫자 입력 500
숫자 입력 500
숫자 입력 500

[500, 500, 500, 500, 500, 500, 500]
총합은 3500 입니다.

# Dictionary
{키(key) : 값(value)} 로 형성

In [80]:
my_dict = {'name':'박재훈',   # key값은 '' 를 쓰고 해야한다.
           'mame':'박재훈',   # key값은 중복이 안되지만 value는 중복이 가능하다.
           'age':23,
           'gender':True}
my_dict2 = dict()

print(my_dict, type(my_dict))
print(len(my_dict))
print(my_dict2, type(my_dict2))

print('_'*50)
keys = my_dict.keys()      # dict안에 있는 모든 key 를 불러온다
values = my_dict.values()  # dict안에 있는 모든 value 을 불러온다
items = my_dict.items()    # dict안에 있는 모든 key:value 을 불러온다

print(keys, type(keys))
print(values, type(values))
print(items, type(items))

print('_'*50)

name = my_dict.get('name')  # get('') 은 괄호안에 있는 키값에 value를 가져온다.
age = my_dict.get('age')
gender = my_dict.get('gender')
mame = my_dict.get('mame')
print(name, type(name))
print(age, type(age))
print(gender, type(gender))
print(mame, type(mame))

print('_'*50)

name1 = my_dict['name']
print(name1, type(name1))

print('_'*50)

print(my_dict)
my_dict['age'] = 20       #  변경 : my_dict['기존 key'] = 변경할 value
my_dict['add'] = 'SEOUL'  #  추가 : my_dict['key'] = value
print(my_dict)

{'name': '박재훈', 'mame': '박재훈', 'age': 23, 'gender': True} <class 'dict'>
4
{} <class 'dict'>
__________________________________________________
dict_keys(['name', 'mame', 'age', 'gender']) <class 'dict_keys'>
dict_values(['박재훈', '박재훈', 23, True]) <class 'dict_values'>
dict_items([('name', '박재훈'), ('mame', '박재훈'), ('age', 23), ('gender', True)]) <class 'dict_items'>
__________________________________________________
박재훈 <class 'str'>
23 <class 'int'>
True <class 'bool'>
박재훈 <class 'str'>
__________________________________________________
박재훈 <class 'str'>
__________________________________________________
{'name': '박재훈', 'mame': '박재훈', 'age': 23, 'gender': True}
{'name': '박재훈', 'mame': '박재훈', 'age': 20, 'gender': True, 'add': 'SEOUL'}

In [3]:
person = [
    {'name':'사람',
     'age':1,
     'gender':False},
    {'name':'인간',
     'age':5,
     'gender':True}
]

print(person, type(person))

[{'name': '사람', 'age': 1, 'gender': False}, {'name': '인간', 'age': 5, 'gender': True}] <class 'list'>

In [4]:
for k in person:
    print(type(k))
    print(k.values())
    print(k.get('age'))

<class 'dict'>
dict_values(['사람', 1, False])
1
<class 'dict'>
dict_values(['인간', 5, True])
5

In [ ]:
per_son = dict()

name = input('name')
kor = int(input('kor'))
eng = int(input('eng'))
math = int(input('math'))

per_son['name'] = name
per_son['kor'] = kor
per_son['eng'] = eng
per_son['math'] = math

print(per_son, type(per_son))

total = per_son['kor'] + per_son['eng'] +per_son['math']
print('총점은 %d 입니다' % total)

name qr
kor 2
eng 2
math 2

{'name': 'qr ', 'kor': 2, 'eng': 2, 'math': 2} <class 'dict'>
총점은 6 입니다