In [4]:
# 함수
# def 함수명([매개변수 = 초기값], ....):  [ ]은 생략가능하다는 표시
#    수행할 문장
#    수행할 문장
# .....
# [return값] 리턴값이 없으면 생략가능

In [1]:
def my_function():
    print('_' * 50)
    print('my function')
    print('_' * 50)

In [2]:
my_function()
my_function()
print('함수호출 끝')

__________________________________________________
my function
__________________________________________________
__________________________________________________
my function
__________________________________________________
함수호출 끝

In [17]:
 def my_function(n, msg):
        print('_' * n)
        print(msg)
        print('_' * n)

In [20]:
x = int(input(''))
msg = input('')
my_function(x, msg)

 11
 11

___________
11
___________

In [41]:
def my_add(n, m):
    print('합을 출력하겠습니다.')
    print('%d + %d = %d' % (n,m,(n + m)))

In [43]:
my_add(151, 252)

합을 출력하겠습니다.
151 + 252 = 403

# 문제

In [57]:
def my_sum(q, w):
    print('덧셈')
    print('%d + %d = %d' % (q, w,(q + w)))

q = int(input(''))
w = int(input(''))

print('_' * 50)

my_sum(q, w)

 11
 11

__________________________________________________
덧셈
11 + 11 = 22

In [75]:
def my_bbe(q, w):
    print('뺄셈')
    if q >= w:
        print('%d - %d = %d' % (q, w,(q - w)))
    else:
        print('%d - %d = %d' % (w, q,(w - q)))
    
q = int(input(''))
w = int(input(''))

print('_' * 50)

my_bbe(q, w)

 15
 16

__________________________________________________
뺄셈
16 - 15 = 1

In [59]:
def my_gob(q, w):
    print('곱셈')
    print('%d x %d = %d' % (q, w,(q * w)))
    
q = int(input(''))
w = int(input(''))

print('_' * 50)

my_gob(q, w)

 11
 11

__________________________________________________
곱셈
11 x 11 = 121

In [72]:
def my_na(q, w):
    print('나눗셈')
    if q >= w:
        print('%d / %d = %d' % (q, w,(q / w)))
    else:
        print('%d / %d = %d' % (w, q,(w / q)))
    
q = int(input(''))
w = int(input(''))

print('_' * 50)

my_na(q, w)

 15
 150

__________________________________________________
나눗셈
150 / 15 = 10

In [122]:
def func_add(sdd):
    aad = 0
    for i in range(sdd+1):
        aad = aad + i
        print(aad)
    print('_'*50)
    print(aad)

In [123]:
add = int(input('숫자를 넣으세요'))

func_add(add)

숫자를 넣으세요 10

0
1
3
6
10
15
21
28
36
45
55
__________________________________________________
55

In [130]:
def list_func(klist):
    m_ax = klist[0]
    i = 0
    for i in klist:
        if i > m_ax:
            m_ax = i
    print('최대값은 %d 입니다' % m_ax)

    m_in = klist[0]
    j = 0
    for j in klist:
        if j < m_in:
            m_in = j
    print('최소값은 %d 입니다' % m_in)

In [131]:
llist = [50, 654, 159, 111, 554]
list_func(llist)

최대값은 654 입니다
최소값은 50 입니다

# 리턴값

In [219]:
def my_addd(a, b):
    x = a + b
    
    
    return x   # 리턴이 없으면 None이라고 뜸

In [220]:
y = my_addd(10, 20)
print(y)

30

In [26]:
def evenodd(q):
    if q % 2 == 0:
        z = '짝수'
    else:
        z = '홀수'
    
    return z

In [221]:
z = evenodd(21)
print(z)

홀수

In [29]:
def my_addsub(a, b):
    s = a + b    
    f = a - b
    
    return s, f

In [31]:
y = my_addsub(10, 5)
print(y, type(y), y[0], y[1])

(15, 5) <class 'tuple'> 15 5

In [33]:
def circle_fuc(cir):
    circ = 3.14 * (cir ** 2)
    
    return circ

In [34]:
cir = float(input('원의 반지름 입력'))

circ = circle_fuc(cir)
print(circ, type(circ))

원의 반지름 입력 10

314.0 <class 'float'>

In [50]:
def my_family(*name):  # (*매개변수) 는 매개변수가 몇개 인지 모를 때? 많을때
    # print(type(name), name)
    for i in name:
        print(i)

In [51]:
my_family('a')
my_family('b', 'a')
my_family(['b', 'a'])

a
b
a
['b', 'a']

In [65]:
def my_fam(**name):   # ** = dict에 key:value를 불러온다.
    # print(type(name))
    print(name)
    print(name['fname'])
    print(name['lname'])

In [66]:
my_fam(fname ='jaehun', lname ='park')

{'fname': 'jaehun', 'lname': 'park'}
jaehun
park

In [89]:
def random(*ran):
    add = 0
    
    for r in ran:
        add = add + r
        
    return add

In [92]:
add = random(1, 2, 3, 9, 15)
print(add)

30

In [103]:
def my_country(state, country = 'Korea'):   # 매개변수에 기본값을 줄 수 있다. 호출 할때 my_country() 하면 기본값인 코리아가 뜨고 
    print(state, country)                   # my_country('USA')를 주면 기본값이 아닌 호출한 값이 뜬다.  ( 기본값이 있는 매개변수는 순서중 제일 마지막에 써준다.)

In [105]:
 # my_country()  error. state의 값이 없어서
my_country('SEOUL')            # state = SEOUL 이고 매개변수가 두개이므로 하나 남은 기본값인 'KOREA'가 뜬다.
my_country('GAJA', 'USA')      # 값 두개를 넣어주면 값 두개를 호출.

SEOUL Korea
GAJA USA

In [171]:
def add_sum(l_ist):
    plus = 0
    for i in l_ist:
        plus = plus + i
        
    
    
    return plus

In [174]:
sdd = int(input('숫자입력'))
d = 0
empty_li = []
for i in range(sdd):
    dss = int(input('원하는숫자'))
    empty_li.append(dss)

plus = add_sum(empty_li)
print(plus)
print(empty_li)

숫자입력 5
원하는숫자 12
원하는숫자 11
원하는숫자 3
원하는숫자 2
원하는숫자 1

29
[12, 11, 3, 2, 1]

In [176]:
def sssum_fu(ll_ist):
    lol = 0
    for i in ll_ist:
        lol = lol + i
            
    return lol

In [181]:
sos = int(input('넣고 싶은 숫자 개수 입력'))
empty_li = []

for j in range(sos):
    pop = int(input('숫자 입력'))
    empty_li.append(pop)
lol = sssum_fu(empty_li)

print(lol)
print(empty_li, type(empty_li))

넣고 싶은 숫자 개수 입력 3
숫자 입력 3
숫자 입력 4
숫자 입력 7

14
[3, 4, 7] <class 'list'>

In [187]:
def susu_sum(want):
    sim = 0
    for i in range(want):
        som = int(input('원하는 숫자:'))
        sim = sim + som
        
    return sim

In [188]:
want = int(input('몇번 돌릴지 입력'))

sim = susu_sum(want)
print(sim)

몇번 돌릴지 입력 5
원하는 숫자: 22
원하는 숫자: 22
원하는 숫자: 22
원하는 숫자: 22
원하는 숫자: 22

110

In [190]:
def siim_li(ada):
    mom = 0
    for i in ada:
        mom = mom + i
        
    return mom

In [203]:
def soom_fu(jant):
    jam = []
    for i in range(jant):
        odo = int(input('더할 값들'))
        jam.append(odo)
        
    return jam

In [218]:
jant = int(input('숫자입력:'))


jam = soom_fu(jant)
mom = siim_li(jam)
print(mom)

숫자입력: 4
더할 값들 1
더할 값들 1
더할 값들 1
더할 값들 1

4

In [216]:
p = sum([1,2])
print(p)

3

In [217]:
pow(3,3)

27